@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/acme/v17/RrQfboBx-C5_XxrBbg.woff2') format('woff2');
}
