@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}